<div class="m-mapcontact">

    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-10 mx-auto">
                {# <div class="row">
                    <div class="col-12">
                        <h2>Office locations</h2>
                    </div>
                </div> #}
                <div class="row">
                    <div class="col-12">
                        <img src="{{image('local://images/contact_map.jpg').url}}" alt="">
                    </div>
                </div>
                <div class="row">
                    {% for office in block.offices %}
                        <div class="col-12 col-md-6 col-lg-4">
                            <div class="m-mapcontact__officeWrapper">
                                <h2>{{office.country}}</h2>
                                {# <h3>Visit</h3> #}
                                <div>
                                    {{office.address.render | raw}}
                                </div>
                                {% if office.phone is not empty %}
                                    <h3>Call</h3>
                                    <a href="tel:{{office.phone}}">{{office.phone}}</a>
                                {% endif %}
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

</div>